<div class="row  h-100 mt-5">

  <div class="my-auto mx-auto">

    <form class="form-signin">

      <div class="form-group">
        <label for="inputEmail" class="sr-only">Identifiant</label>
        <input type="text" name="username" class="form-control" placeholder="Identifiant" required autofocus>
      </div>
      <div class="form-group ">
        <label for="password" class="sr-only">Password</label>
        <show-hide-password icon="fontawesome" btnStyle="primary" [btnOutline]="false">
          <input type="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required>
        </show-hide-password>

      </div>

      <div class="form-group ">
        <div class="checkbox mb-3">
          <label>
            <input name="rememberMe" type="checkbox" id="rememberme">Se souvenir de moi
          </label>
        </div>
      </div>

      <button class="btn btn-primary btn-block" type="submit">Connexion</button>


    </form>

  </div>

</div>